/* Variables.scss */


/* colors */

$clr-root: #ffffff;
$clr-base: #808080;
$clr-primary:#039AAD;
$clr-secondary: #231651;
$clr-palette1:#37297C;
$clr-palette2:#473B9B;
$clr-palette3:#0B7B84;
$clr-palette4:#0C4782;
$clr-grey:#c5c5c5;
$clr-text:#4d4d4d;

/* breakpoints */

$mobile-breakpoint: 768px;
$tab-breakpoint: 1024px;

/* font weights */

$fnt-thin: 100;
$fnt-light:300;
$fnt-regular:400;
$fnt-medium:500;
$fnt-bold:700;
