/*
  @Author : Pixelmotivestudio
  @Project : Project Name
  @Dev : Dev Name
  @Date : Date;
*/


/* config */

@import "config/variables";

/* element */

@import "elements/reset";
@import "elements/elements";

/* common */

@import "common/common";
@import "common/mixin";
@import "common/icon";

/* base */

@import "base/bs-sec";
@import "base/bs-header";
@import "base/bs-footer";
@import "base/bs-testimonial";
@import "base/bs-blog";
@import "base/bs-product";
@import "base/bs-logo";
@import "base/bs-tile";
@import "base/bs-checkbox";
@import "base/bs-form";
@import "base/bs-banner";
@import "base/bs-video";
@import "base/bs-steps";
@import "base/bs-benefit";
@import "base/bs-radio";

/* bootstrap-extend */

@import "bootstrap-extend/btn";
@import "bootstrap-extend/bs-tab";
@import "bootstrap-extend/form";

/* modules */

@import "modules/mod-contact";
@import "modules/mod-app";
@import "modules/mod-social-media";
@import "modules/mod-vision";
@import "modules/mod-list";
@import "modules/mod-newsletter";
@import "modules/mod-sub-menu";
@import "modules/mod-analytics";
@import "modules/mod-icon-text";

/* layout */

@import "layout/lyt-products";
@import "layout/lyt-login";
@import "layout/lyt-analytics";

/* plugin */

@import "plugin/bg-img";
@import "plugin/swiper";

/* page */